<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="browsername" value="Firefox"></parameter>
    <classes>
      <class name="com.ECFW.ActitimeTEST.TestActitimeLogin"/>
      <class name="com.ECFW.ActitimeTEST.TestArchiveProject"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
